openapi: 3.0.3
info:
  title: Raff API
  description: |
    REST API for managing cloud infrastructure on Raff.

    ## Authentication
    Most endpoints require authentication via API key. Catalog endpoints under `/api/v1/public/` are open and require no authentication.

    ### API Key Authentication
    Include your API key in the `X-API-Key` header:
      ```
      curl -H "X-API-Key: YOUR_API_KEY" https://api.rafftechnologies.com/api/v1/vms
      ```

    ## Catalog
    Use the public catalog endpoints to discover available regions, OS templates, and pricing plans before creating resources:
    - `GET /api/v1/public/regions` — list available regions
    - `GET /api/v1/public/templates` — list OS templates (use the `id` as `template_id` when creating a VM)
    - `GET /api/v1/public/pricing/vm` — list VM pricing plans (use the `id` as `pricing_id` when creating a VM)
    - `GET /api/v1/public/pricing/volume` — volume storage pricing
    - `GET /api/v1/public/pricing/snapshot` — snapshot storage pricing
    - `GET /api/v1/public/pricing/backup` — backup storage pricing
    - `GET /api/v1/public/pricing/ip` — IP address pricing
    - `GET /api/v1/public/pricing/database` — managed database pricing (plans, high availability, read replicas, extra storage)
    - `GET /api/v1/public/pricing/kubernetes` — managed Kubernetes pricing (worker node plans, HA control plane, storage nodes)

  version: 1.0.0
  contact:
    name: Raff Technologies
    url: https://rafftechnologies.com

servers:
  - url: https://api.rafftechnologies.com
    description: Production

security:
  - ApiKeyAuth: []

tags:
  - name: Catalog
    description: Discover available regions, OS templates, and pricing plans. No authentication required.
  - name: Health
    description: Health check endpoints
  - name: Projects
    description: Organize resources into projects for billing and access control
  - name: Virtual Machines
  - name: Kubernetes
    description: Managed Kubernetes clusters — HA control planes, autoscaling node pools, kubeconfig access
  - name: Functions
    description: Deploy and manage serverless functions
  - name: Raff Apps
    description: Push-to-deploy web services, private services, workers, cron jobs, and one-off jobs on the Raff PaaS — with custom domains, environment variables, autoscaling, and per-second billing with spend caps
  - name: Managed Databases
    description: Fully managed PostgreSQL and Valkey databases with private VPC networking, automatic backups, and metrics
  - name: Networking
    description: Attach and detach VPCs, floating IPs, and security groups to VM network interfaces
  - name: Snapshots
    description: Point-in-time copies of VMs and volumes for quick rollback or cloning
  - name: Backups
    description: Scheduled and on-demand VM backups with restore capability
  - name: Backup Schedules
    description: Recurring daily or weekly backup schedules attached to a VM
  - name: SSH Keys
    description: Manage account-level SSH keys for VM provisioning
  - name: Members
    description: Account-level members — invite, list, update role, remove
  - name: Project Members
    description: Members of a specific project — same model as Members but project-scoped
  - name: Roles
    description: Custom roles bundling account or project permissions
  - name: Permissions
    description: List the catalog of permission strings used by roles
  - name: API Keys
    description: Create and manage API keys for programmatic access
  - name: Invitations
    description: Create and cancel email-based invitations to join the account or a project

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Returns the health status of the API gateway. No authentication required.
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy

  /api/v1/public/regions:
    get:
      tags:
        - Catalog
      summary: List regions
      description: Returns all active data center regions.
      operationId: listRegions
      security: []
      responses:
        '200':
          description: List of regions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  regions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Region'

  /api/v1/public/templates:
    get:
      tags:
        - Catalog
      summary: List OS templates
      description: |
        Returns all public OS templates available for VM creation.
        Windows templates are only available for premium VM types.
      operationId: listTemplates
      security: []
      parameters:
        - name: category
          in: query
          description: Filter by template category
          schema:
            type: string
            enum: [os, marketplace]
        - name: vm_type
          in: query
          description: Filter by VM type. Windows templates are only returned for `windows`; `standard` and `premium` exclude them.
          schema:
            type: string
            enum: [standard, premium, windows]
        - name: region
          in: query
          description: Filter by region
          schema:
            type: string
            enum: [us-east]
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
                  total:
                    type: integer
                    description: Total number of templates returned
                    example: 12
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/public/pricing/vm:
    get:
      tags:
        - Catalog
      summary: List VM pricing plans
      description: Returns VM pricing plans. Use the plan `id` as `pricing_id` when creating a VM.
      operationId: listVMPricing
      security: []
      parameters:
        - name: type
          in: query
          description: Filter by VM type
          schema:
            type: string
            enum: [standard, premium, windows]
        - name: region
          in: query
          description: Filter by region
          schema:
            type: string
            enum: [us-east]
      responses:
        '200':
          description: List of VM pricing plans
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  plans:
                    type: array
                    items:
                      $ref: '#/components/schemas/VMPricingPlan'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/public/pricing/volume:
    get:
      tags:
        - Catalog
      summary: Get volume pricing
      description: Returns block storage volume pricing per GB.
      operationId: listVolumePricing
      security: []
      parameters:
        - name: region
          in: query
          description: Filter by region
          schema:
            type: string
            enum: [us-east]
      responses:
        '200':
          description: Volume pricing
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  pricing:
                    $ref: '#/components/schemas/StoragePricing'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/public/pricing/snapshot:
    get:
      tags:
        - Catalog
      summary: Get snapshot pricing
      description: Returns snapshot storage pricing per GB.
      operationId: listSnapshotPricing
      security: []
      parameters:
        - name: region
          in: query
          description: Filter by region
          schema:
            type: string
            enum: [us-east]
      responses:
        '200':
          description: Snapshot pricing
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  pricing:
                    $ref: '#/components/schemas/StoragePricing'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/public/pricing/backup:
    get:
      tags:
        - Catalog
      summary: Get backup pricing
      description: Returns backup storage pricing per GB.
      operationId: listBackupPricing
      security: []
      parameters:
        - name: region
          in: query
          description: Filter by region
          schema:
            type: string
            enum: [us-east]
      responses:
        '200':
          description: Backup pricing
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  pricing:
                    $ref: '#/components/schemas/StoragePricing'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/public/pricing/ip:
    get:
      tags:
        - Catalog
      summary: Get IP address pricing
      description: Returns pricing for IPv4 and IPv6 addresses.
      operationId: listIPPricing
      security: []
      responses:
        '200':
          description: IP pricing
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  pricing:
                    $ref: '#/components/schemas/IPPricing'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/public/pricing/database:
    get:
      tags:
        - Catalog
      summary: List managed database pricing
      description: Returns managed database plans plus high availability, read replica, and extra storage pricing. High availability multiplies the plan price — an HA plan costs `price_per_month * (1 + price_multiplier)`.
      operationId: listDatabasePricing
      security: []
      parameters:
        - name: engine
          in: query
          description: Filter by database engine
          schema:
            $ref: '#/components/schemas/DatabaseEngine'
      responses:
        '200':
          description: Managed database pricing
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  plans:
                    type: array
                    items:
                      $ref: '#/components/schemas/DatabasePricingPlan'
                  ha_pricing:
                    type: array
                    description: High availability pricing per engine
                    items:
                      $ref: '#/components/schemas/DatabaseHAPricing'
                  replica_pricing:
                    type: array
                    description: Read replica pricing per engine
                    items:
                      $ref: '#/components/schemas/DatabaseReplicaPricing'
                  storage_pricing:
                    type: array
                    description: Extra storage pricing per engine
                    items:
                      $ref: '#/components/schemas/DatabaseStoragePricing'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/public/pricing/kubernetes:
    get:
      tags:
        - Catalog
      summary: List managed Kubernetes pricing
      description: Returns worker node plans plus HA control plane and storage node pricing. The standard control plane is free — `ha_pricing` is the optional highly available control plane.
      operationId: listKubernetesPricing
      security: []
      responses:
        '200':
          description: Managed Kubernetes pricing
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  plans:
                    type: array
                    items:
                      $ref: '#/components/schemas/K8sNodePlan'
                  ha_pricing:
                    $ref: '#/components/schemas/K8sHAPricing'
                  storage_pricing:
                    $ref: '#/components/schemas/K8sStoragePricing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/projects:
    get:
      tags:
        - Projects
      summary: List projects
      description: List all projects for the authenticated account.
      operationId: listProjects
      parameters:
        - name: limit
          in: query
          description: Maximum number of projects to return
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          description: Number of projects to skip for pagination
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  total:
                    type: integer
                    description: Total number of projects
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Projects
      summary: Create project
      description: Create a new project within the authenticated account.
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/projects/{id}:
    get:
      tags:
        - Projects
      summary: Get project
      description: Get details of a specific project.
      operationId: getProject
      parameters:
        - $ref: '#/components/parameters/ProjectIDPath'
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Projects
      summary: Update project
      description: Update an existing project's settings.
      operationId: updateProject
      parameters:
        - $ref: '#/components/parameters/ProjectIDPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Project updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Projects
      summary: Delete project
      description: Delete a project. The project must not contain any active resources.
      operationId: deleteProject
      parameters:
        - $ref: '#/components/parameters/ProjectIDPath'
      responses:
        '200':
          description: Project deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms:
    get:
      tags:
        - Virtual Machines
      summary: List VMs
      description: List all virtual machines for the authenticated account.
      operationId: listVMs
      parameters:
        - name: project_id
          in: query
          description: Filter by project ID
          schema:
            type: string
            format: uuid
        - name: region
          in: query
          description: Filter by region
          schema:
            type: string
            enum: [us-east]
        - name: status
          in: query
          description: |
            Filter by VM status. Values: `initiating` (queued/setup), `provisioning` (being created), `booting` (starting), `active` (running), `passive` (stopped), `finalizing` (shutting down), `failure` (failed).
          schema:
            type: string
            enum: [active, passive, provisioning, booting, initiating, finalizing, failure]
        - name: limit
          in: query
          description: Maximum number of VMs to return
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          description: Number of VMs to skip for pagination
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of VMs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request was successful
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VM'
                  total:
                    type: integer
                    description: Total number of VMs matching the query
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Virtual Machines
      summary: Create VM
      description: |
        Create a new virtual machine with a chosen OS template, compute plan, and region. The VM is automatically assigned to a VPC for private networking.

        ## Authentication

        How your VM is accessed depends on the OS:

        - **Linux** — provide `ssh_keys`, `password`, or both. At least one is required.
        - **Windows** — `password` is required. SSH keys are not supported.

        ## Extra Storage

        Set `extra_storage` (GB) to attach an additional block volume. On Linux, choose the filesystem with `extra_storage_type` (defaults to `ext4`). Windows volumes are automatically formatted as NTFS.

        ## Backups

        - **Daily** — set `backup_type` to `daily`. Runs every day at `backup_time` (defaults to `8am`).
        - **Weekly** — set `backup_type` to `weekly` with a `backup_date` (e.g. `Saturday`). Runs at `backup_time`.

        Omit `backup_type` or set it to `none` to skip backups.

        ## VPC Network

        Each VM is attached to a VPC for private networking:

        1. **Use existing** — set `vpc_id` to join an existing VPC.
        2. **Create new** — set `vpc_name` and `vpc_cidr` to create a custom VPC.
        3. **Auto-create** (default) — leave all VPC fields empty. A VPC named `vpc-{vm-name}` is created automatically.

        ## Billing Checks

        Before provisioning, the API validates:

        - Account billing status (not banned, no failed payments)
        - Active payment method exists
      operationId: createVM
      parameters:
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVMRequest'
      responses:
        '201':
          description: VM created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/VM'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/BillingValidationFailed'

  /api/v1/vms/{id}:
    get:
      tags:
        - Virtual Machines
      summary: Get VM
      description: Get details of a specific virtual machine.
      operationId: getVM
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
      responses:
        '200':
          description: VM details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/VM'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Virtual Machines
      summary: Delete VM
      description: |
        Permanently delete a virtual machine and release its resources.

        ## Attached Volumes

        Control what happens to volumes attached to the VM with `volume_action`:

        - **`detach`** (default) — volumes are detached and kept. They remain billable and can be re-attached to another VM.
        - **`delete`** — volumes are permanently deleted along with the VM.

        ## VPC Cleanup

        Set `delete_vpc` to `true` to also delete the VM's associated VPC. The VPC is only deleted if no other VMs are using it.

        ## Billing

        If the VM has an active subscription, the remaining prepaid balance is refunded pro-rata (hourly precision) to your account balance.
      operationId: deleteVM
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteVMRequest'
      responses:
        '200':
          description: VM deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/MissingProjectID'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/bulk:
    delete:
      tags:
        - Virtual Machines
      summary: Bulk Delete VMs
      description: |
        Delete up to 50 virtual machines in a single request.

        Each VM is processed independently — if some deletions fail, others still succeed. The response includes per-VM results so you can identify and retry failures.

        ## Attached Volumes

        Control what happens to volumes attached to the VMs with `volume_action`:

        - **`delete`** (default) — volumes are permanently deleted along with the VM.
        - **`detach`** — volumes are detached and kept. They remain billable and can be re-attached to another VM.

        ## VPC Cleanup

        Set `delete_vpc` to `true` (default) to also delete each VM's associated VPC. A VPC is only deleted if no other VMs are using it.

        ## Billing

        For VMs with active subscriptions, the remaining prepaid balance is refunded pro-rata (hourly precision) to your account balance.
      operationId: deleteVMsBulk
      parameters:
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteVMsBulkRequest'
      responses:
        '200':
          description: Bulk deletion results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteVMsResult'
        '400':
          $ref: '#/components/responses/MissingProjectID'

  /api/v1/vms/{id}/start:
    post:
      tags:
        - Virtual Machines
      summary: Start VM
      description: Start a stopped virtual machine.
      operationId: startVM
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: VM started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/MissingProjectID'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/stop:
    post:
      tags:
        - Virtual Machines
      summary: Stop VM
      description: Stop a running virtual machine. The VM will retain its resources and can be started again.
      operationId: stopVM
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: VM stopped
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/MissingProjectID'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/reboot:
    post:
      tags:
        - Virtual Machines
      summary: Reboot VM
      description: Reboot a running virtual machine.
      operationId: rebootVM
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: VM rebooted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/MissingProjectID'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/rename:
    patch:
      tags:
        - Virtual Machines
      summary: Rename VM
      description: Rename a virtual machine.
      operationId: renameVM
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameVMRequest'
      responses:
        '200':
          description: VM renamed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/MissingProjectID'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/reset-password:
    post:
      tags:
        - Virtual Machines
      summary: Reset VM password
      description: Reset the root/admin password of a virtual machine. The new password will be emailed to the account owner.
      operationId: resetVMPassword
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Password reset initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/MissingProjectID'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/reinstall:
    post:
      tags:
        - Virtual Machines
      summary: Reinstall VM
      description: Reinstall a virtual machine with a new OS template. This will destroy all data on the VM.
      operationId: reinstallVM
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReinstallVMRequest'
      responses:
        '200':
          description: VM reinstall initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/factory-reset:
    post:
      tags:
        - Virtual Machines
      summary: Factory reset VM
      description: Factory reset a virtual machine to its original state. This will destroy all data on the VM and restore it to the original template.
      operationId: factoryResetVM
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Factory reset initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/MissingProjectID'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/resize:
    post:
      tags:
        - Virtual Machines
      summary: Resize VM
      operationId: resizeVM
      description: |
        Resize a virtual machine's CPU and RAM by selecting a new pricing plan.
        The VM must be stopped before resizing.

        ## Billing

        For subscription VMs, the price difference is calculated pro-rata for the
        remaining billing period:

        - **Upgrade** — the difference is deducted from credits, then account balance.
          If your balance is insufficient, the request fails with `402`.
        - **Downgrade** — the pro-rata credit is added to your account balance.

        The new subscription price takes effect immediately.
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResizeVMRequest'
      responses:
        '200':
          description: VM resized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResizeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/disk/resize:
    post:
      tags:
        - Virtual Machines
      summary: Resize VM Disk
      operationId: resizeVMDisk
      description: |
        Increase the primary disk of a virtual machine.
        The VM must be stopped. Disk size can only be increased.

        ## Billing

        For subscription VMs, the storage cost difference is calculated pro-rata
        and deducted from credits, then account balance. Returns `402` if
        insufficient balance.
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResizeVMDiskRequest'
      responses:
        '200':
          description: VM disk resized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResizeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/reboot-hard:
    post:
      tags:
        - Virtual Machines
      summary: Hard reboot VM
      description: |
        Force an immediate power-off and restart of a virtual machine, **without** a graceful shutdown.

        ## When to use

        Use this only when a soft reboot (`POST /api/v1/vms/{id}/reboot`) does not work — for example, the VM is hung and not responding to OS-level signals.

        ## Risks

        - **Unsaved data may be lost.** Filesystems and applications cannot flush state before power-off.
        - **Filesystem corruption is possible.** Hard power-off skips clean unmount.

        Prefer the standard reboot whenever the VM is responsive.
      operationId: hardRebootVM
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Hard reboot initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/MissingProjectID'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/save-image:
    post:
      tags:
        - Virtual Machines
      summary: Save VM disk as custom image
      description: |
        Save a VM's disk (live state or a snapshot) as a reusable custom OS image. The new image becomes available alongside the public OS templates and can be passed as `template_id` when creating a new VM.

        ## Sources

        Pick what to capture with `disk_id` and `snapshot_id`:

        - `disk_id: 0` — the OS disk
        - `disk_id: 1+` — an attached volume
        - `snapshot_id: -1` — capture the **current live disk state** (stop the VM first for a consistent image)
        - `snapshot_id: <id>` — capture from a specific saved snapshot
      operationId: saveVMDiskAsImage
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveImageRequest'
      responses:
        '201':
          description: Image creation initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/VMImage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vpcs:
    get:
      tags:
        - Networking
      summary: List VPCs
      description: |
        List virtual private clouds (VPCs).

        Pass `X-Project-ID` to scope to a specific project. Omit it to list all VPCs you have access to across the account.
      operationId: listVPCs
      parameters:
        - name: X-Project-ID
          in: header
          required: false
          description: Project to scope the list to. Omit to list across all accessible projects.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of VPCs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VPC'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Networking
      summary: Create VPC
      description: |
        Create a new virtual private cloud. Pick a `cidr` block that doesn't overlap with any of your existing VPCs.

        ## CIDR planning

        Use `GET /api/v1/vpcs/cidr-suggestions` to get suggested non-overlapping CIDR blocks if you don't have one in mind.
      operationId: createVPC
      parameters:
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVPCRequest'
      responses:
        '201':
          description: VPC created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/VPC'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/BillingValidationFailed'

  /api/v1/vpcs/cidr-suggestions:
    get:
      tags:
        - Networking
      summary: Suggest non-overlapping CIDR blocks
      description: |
        Returns suggested CIDR blocks that don't overlap with the account's existing VPCs.
        Use one of these as `cidr` when creating a new VPC.
      operationId: listVPCCIDRSuggestions
      parameters:
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: CIDR suggestions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CIDRSuggestionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/vpcs/{id}:
    get:
      tags:
        - Networking
      summary: Get VPC
      description: |
        Get details of a single VPC. The response wraps the core VPC fields under `data.vpc` and includes additional detail fields (`ip_range_start`, `ip_range_end`, `leases`) at the same level.
      operationId: getVPC
      parameters:
        - $ref: '#/components/parameters/VPCIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: VPC details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/VPCDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Networking
      summary: Update VPC
      description: Update a VPC's name or description. CIDR cannot be changed after creation.
      operationId: updateVPC
      parameters:
        - $ref: '#/components/parameters/VPCIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVPCRequest'
      responses:
        '200':
          description: VPC updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/VPC'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Networking
      summary: Delete VPC
      description: |
        Delete a VPC. The VPC must not have any VMs attached — detach them first via `DELETE /api/v1/vms/{id}/vpc/{nic_id}`.
      operationId: deleteVPC
      parameters:
        - $ref: '#/components/parameters/VPCIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: VPC deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/ips:
    get:
      tags:
        - Networking
      summary: List floating IPs
      description: |
        List the account's floating (public) IP addresses, including reserved IPs and IPs currently attached to VMs.
        Filter to just reserved IPs with `?reserved=true`.
      operationId: listIPs
      parameters:
        - $ref: '#/components/parameters/ProjectIDHeader'
        - name: reserved
          in: query
          required: false
          description: When `true`, return only reserved IPs (not currently attached to a VM).
          schema:
            type: boolean
        - name: status
          in: query
          required: false
          description: |
            Filter by IP status:
            - `free` — IP is in the pool. Combined with `reserved=true` it means held for the account but not attached to a VM.
            - `in-use` — currently attached to a VM.
          schema:
            type: string
            enum: [free, in-use]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of floating IPs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FloatingIP'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/ips/reserve:
    post:
      tags:
        - Networking
      summary: Reserve a floating IP
      description: |
        Reserve a floating public IP. The IP is allocated immediately and held for your account until you release it.

        ## Billing

        Reserved IPs are billed. For subscription accounts the IP price is charged from the account balance up front for the chosen `billing_period` (default monthly):

        - **Insufficient balance** for the subscription returns `402`. Top up the balance and retry.

        For pay-as-you-go (PAYG) accounts no upfront charge happens — usage accrues hourly.
      operationId: reserveIP
      parameters:
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReserveIPRequest'
      responses:
        '201':
          description: IP reserved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/FloatingIP'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/BillingValidationFailed'

  /api/v1/ips/{id}:
    get:
      tags:
        - Networking
      summary: Get floating IP
      description: Get details of a single floating IP.
      operationId: getIP
      parameters:
        - $ref: '#/components/parameters/IPIDPath'
      responses:
        '200':
          description: IP details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/FloatingIP'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/ips/{id}/reserve:
    delete:
      tags:
        - Networking
      summary: Release a reserved IP
      description: |
        Release a reserved IP back to the pool.

        ## Billing

        For subscription IPs the remaining prepaid balance is refunded pro-rata (hourly precision) to your account balance. For PAYG IPs the IP simply stops accruing further hourly usage — no refund is needed.

        The IP must not be attached to a VM. Detach it first via `DELETE /api/v1/vms/{id}/ip/{nic_id}`.
      operationId: releaseIP
      parameters:
        - $ref: '#/components/parameters/IPIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: IP released
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/ips/{id}/change:
    post:
      tags:
        - Networking
      summary: Change reserved IP
      description: |
        Swap a reserved IP for a different one from the available pool. The subscription stays the same — no extra charge, no refund. Useful if the current IP is blacklisted somewhere.

        The IP must be reserved (not currently attached to a VM).
      operationId: changeIP
      parameters:
        - $ref: '#/components/parameters/IPIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: IP changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  old_ip:
                    $ref: '#/components/schemas/FloatingIP'
                  new_ip:
                    $ref: '#/components/schemas/FloatingIP'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/security-groups:
    get:
      tags:
        - Networking
      summary: List security groups
      description: |
        List the account's security groups. Pass `X-Project-ID` to scope to one project, or omit it to list across all accessible projects.
      operationId: listSecurityGroups
      parameters:
        - name: X-Project-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of security groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SecurityGroup'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Networking
      summary: Create security group
      description: |
        Create a new security group with a set of inbound/outbound rules.

        Optionally seed from a template (`template_id` from `GET /api/v1/security-groups/templates`) — its rules are copied as the starting set, then merged with any explicit `rules` you pass.
      operationId: createSecurityGroup
      parameters:
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecurityGroupRequest'
      responses:
        '201':
          description: Security group created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/SecurityGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/security-groups/templates:
    get:
      tags:
        - Networking
      summary: List security group templates
      description: |
        Pre-built security group templates customers can clone when creating a new group (e.g. "Web server", "SSH only", "Database"). Pass the chosen `id` as `template_id` on `POST /api/v1/security-groups`.
      operationId: listSecurityGroupTemplates
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SecurityGroupTemplate'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/security-groups/{id}:
    get:
      tags:
        - Networking
      summary: Get security group
      description: Get details of a single security group, including its rules.
      operationId: getSecurityGroup
      parameters:
        - $ref: '#/components/parameters/SecurityGroupResourceIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Security group details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/SecurityGroup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Networking
      summary: Update security group
      description: |
        Update a security group's name, description, or rules. Passing `rules` replaces the entire rule set — to add or remove a single rule, GET the current rules first, modify the array, then PUT the result.
      operationId: updateSecurityGroup
      parameters:
        - $ref: '#/components/parameters/SecurityGroupResourceIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecurityGroupRequest'
      responses:
        '200':
          description: Security group updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/SecurityGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Networking
      summary: Delete security group
      description: |
        Delete a security group. The group must not be attached to any VM NIC. Detach it first via `DELETE /api/v1/vms/{id}/security-groups/{sg_id}/{nic_id}`.
      operationId: deleteSecurityGroup
      parameters:
        - $ref: '#/components/parameters/SecurityGroupResourceIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Security group deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/networks:
    get:
      tags:
        - Networking
      summary: List VM network interfaces
      description: |
        List all network interfaces (NICs) attached to a virtual machine.
        Each NIC has a `nic_id` used when detaching from a VPC, IP, or security group.

        Use `?type=` to filter by interface type (`public`, `vpc`, or `ipv6`).
      operationId: listVMNetworks
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - name: type
          in: query
          required: false
          description: Filter to one interface type. Omit to return all.
          schema:
            type: string
            enum: [public, vpc, ipv6]
      responses:
        '200':
          description: List of network interfaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VMNetwork'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/vpc:
    post:
      tags:
        - Networking
      summary: Attach VM to VPC
      description: |
        Attach a virtual machine to a VPC. The VM gains a private network interface inside the VPC.

        Use `ip` to request a specific private IP from the VPC's CIDR range. If omitted, an IP is auto-assigned.
      operationId: attachVMToVPC
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachVPCRequest'
      responses:
        '200':
          description: VM attached to VPC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/vpc/{nic_id}:
    delete:
      tags:
        - Networking
      summary: Detach VM from VPC
      description: |
        Detach a VM's network interface from its VPC. Use the `nic_id` from `GET /api/v1/vms/{id}/networks` to identify the interface.
      operationId: detachVMFromVPC
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/NICIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: VM detached from VPC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/MissingProjectID'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/ip:
    post:
      tags:
        - Networking
      summary: Attach floating IP to VM
      description: |
        Attach a floating public IP to a virtual machine. Pick **one** of two modes:

        ## Option A — attach a reserved IP (use `ip_id`)

        Pass `ip_id` set to a previously reserved IP (from `POST /api/v1/ips/reserve` or `GET /api/v1/ips?reserved=true`). The IP must:
        - belong to the same account
        - not be currently attached to another VM
        - have `reserved: true`

        No new billing on attach — you're already paying for the reserved IP.

        A VM can hold up to **4 public IPv4 addresses**. The first IPv4 on a VM becomes its primary address; additional IPv4s must be reserved IPs attached with `ip_id`.

        ## Option B — auto-assign a new IP (use `type`)

        Leave `ip_id` empty and pass `type` to allocate a fresh IP from the pool:
        - `type: IPv4` (default if omitted)
        - `type: IPv6`

        Auto-assign is available only while the VM has no public IP of that family, and the IP is included with the VM at no extra charge. It is not reserved: detaching releases it back to the shared pool.

        ## Notes

        - Auto-assign (`type`) fails if the VM already has a public IP of the same family — attach a reserved IP (`ip_id`) to add more IPv4s, up to 4 total.
        - Optionally pass `security_groups` (UUID array) to apply security groups to the new NIC.
      operationId: attachVMIP
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachIPRequest'
      responses:
        '200':
          description: IP attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachIPResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/BillingValidationFailed'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/ip/{nic_id}:
    delete:
      tags:
        - Networking
      summary: Detach floating IP from VM
      description: |
        Detach a floating IP from a VM. A reserved IP returns to your reserved pool and **continues to be billed** until you release it via `DELETE /api/v1/ips/{id}/reserve`. An auto-assigned IP is released back to the shared pool.
        Use the `nic_id` from `GET /api/v1/vms/{id}/networks`. If you detach the VM's primary IPv4 while other IPv4s remain attached, the lowest-numbered remaining IPv4 becomes the new primary.
      operationId: detachVMIP
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/NICIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: IP detached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/MissingProjectID'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/security-groups:
    post:
      tags:
        - Networking
      summary: Attach security group to VM NIC
      description: |
        Attach a security group to a specific network interface on a VM.
        The security group's rules apply to inbound and outbound traffic on that NIC.

        Use `nic_id` from `GET /api/v1/vms/{id}/networks` to target a specific interface.
      operationId: attachVMSecurityGroup
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachSecurityGroupRequest'
      responses:
        '200':
          description: Security group attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/security-groups/{sg_id}/{nic_id}:
    delete:
      tags:
        - Networking
      summary: Detach security group from VM NIC
      description: Remove a security group from a specific NIC on a VM.
      operationId: detachVMSecurityGroup
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/SecurityGroupIDPath'
        - $ref: '#/components/parameters/NICIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Security group detached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/MissingProjectID'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/tags:
    post:
      tags:
        - Virtual Machines
      summary: Add tag to VM
      description: |
        Attach a custom tag to a virtual machine. Tags help organize and filter resources.
        Returns the updated full tag list for the VM.
      operationId: addVMTag
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddVMTagRequest'
      responses:
        '200':
          description: Tag added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VMTagsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/tags/{tagId}:
    patch:
      tags:
        - Virtual Machines
      summary: Update VM tag
      description: |
        Update a tag's name or priority on a specific VM.
        Returns the updated full tag list for the VM.

        ## Finding the tag ID

        Tags are returned in the `tags` array of `GET /api/v1/vms/{id}`. Each tag includes its `id`, `name`, `priority`, and `created_at`. Use the tag's `id` as `tagId` here.
      operationId: updateVMTag
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/TagIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVMTagRequest'
      responses:
        '200':
          description: Tag updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VMTagsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Virtual Machines
      summary: Remove VM tag
      description: |
        Remove a tag from a VM. Returns the updated full tag list for the VM.

        ## Finding the tag ID

        Tags are returned in the `tags` array of `GET /api/v1/vms/{id}`. Each tag includes its `id`, `name`, `priority`, and `created_at`. Use the tag's `id` as `tagId` here.
      operationId: removeVMTag
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/TagIDPath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Tag removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VMTagsResponse'
        '400':
          $ref: '#/components/responses/MissingProjectID'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/notes:
    get:
      tags:
        - Virtual Machines
      summary: Get VM notes
      description: |
        Get the personal and account-shared notes attached to a VM.

        - **Personal note** — visible only to the user that wrote it.
        - **Account note** — visible to all members of the account.

        Use the optional `type` query param to fetch only one scope. Either or both fields may be absent from the response if no note has been written yet — in that case only `{ "success": true }` is returned.
      operationId: getVMNotes
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - name: type
          in: query
          required: false
          description: |
            Filter to one note scope. Omit to return both.
          schema:
            type: string
            enum: [personal, account]
      responses:
        '200':
          description: VM notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VMNotesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/notes/{type}/append:
    post:
      tags:
        - Virtual Machines
      summary: Append to VM note
      description: |
        Append `content` to the existing note (separated by a newline). If no note exists yet for this scope, the new content becomes the entire note body.

        Use this when you want to add to a note without losing what's already there — for example, a teammate adding a line to the shared `account` note.
      operationId: appendVMNote
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/NoteTypePath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertVMNoteRequest'
      responses:
        '200':
          description: Content appended (or note created if it didn't exist)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  note:
                    $ref: '#/components/schemas/VMNote'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/notes/{type}:
    patch:
      tags:
        - Virtual Machines
      summary: Update VM note
      description: |
        Replace an existing note's content.

        Unlike `PUT` (which creates the note if missing), `PATCH` returns **404** when no note exists yet for this scope. Use this when you want to fail loudly if the note isn't there — i.e. when you intend to edit, not create.

        For "create or replace" semantics use `PUT /api/v1/vms/{id}/notes/{type}`.
        For appending without losing existing content use `POST /api/v1/vms/{id}/notes/{type}/append`.
      operationId: updateVMNote
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/NoteTypePath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertVMNoteRequest'
      responses:
        '200':
          description: Note updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  note:
                    $ref: '#/components/schemas/VMNote'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No note exists yet for this scope. Use `PUT` to create one.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Virtual Machines
      summary: Upsert VM note
      description: |
        Create or fully replace the personal or account note on a VM.

        ## Behavior

        This is an **overwrite**, not an append — the request `content` becomes the entire note body.
        To append, fetch the existing note via `GET /api/v1/vms/{id}/notes` first, concatenate, and PUT the combined value.

        ## Scopes

        - **`type: personal`** — one note per user per VM (unique on `vm_id + user_id`). Visible only to the user that wrote it.
        - **`type: account`** — one note per account per VM (unique on `vm_id + account_id`). Visible to all account members; any member with permission can update it.

        ## Clearing a note

        Pass `content: ""` to set an empty note. The note row is kept (still returned by `GET /notes`); only the content is empty.
      operationId: upsertVMNote
      parameters:
        - $ref: '#/components/parameters/VMIDPath'
        - $ref: '#/components/parameters/NoteTypePath'
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertVMNoteRequest'
      responses:
        '200':
          description: Note saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  note:
                    $ref: '#/components/schemas/VMNote'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/volumes:
    get:
      tags:
        - Volumes
      summary: List volumes
      description: |
        List volumes for the authenticated account. Filter by VM or region.

        Pass `X-Project-ID` to scope the list to a single project. When omitted, returns volumes across every project the API key has access to.
      operationId: listVolumes
      parameters:
        - name: X-Project-ID
          in: header
          required: false
          description: Optional project ID to scope the list. Omit to list across all accessible projects.
          schema:
            type: string
            format: uuid
        - name: vm_id
          in: query
          description: Filter by attached VM UUID
          schema:
            type: string
            format: uuid
        - name: region
          in: query
          description: Filter by region
          schema:
            type: string
            enum: [us-east]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of volumes
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Volume'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Volumes
      summary: Create volume
      description: |
        Create a new block storage volume. Volumes are created asynchronously — the response returns immediately with `pending` status.

        Optionally attach the volume to an existing VM at create time by passing `vm_id`. Volume and VM must be in the same region.

        ## Filesystem

        For Linux VMs, set `filesystem_type` to choose how the volume is formatted:

        - `ext4` (default), `xfs`, `btrfs` — Linux filesystems
        - Omit for Windows VMs — they always use NTFS

        Filesystem is only applied if the volume is attached to a VM that mounts it via cloud-init or the contextualization script.
      operationId: createVolume
      parameters:
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVolumeRequest'
      responses:
        '202':
          description: Volume creation accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Volume'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/BillingValidationFailed'

  /api/v1/volumes/{id}:
    get:
      tags:
        - Volumes
      summary: Get volume
      description: Get details of a specific volume.
      operationId: getVolume
      parameters:
        - name: id
          in: path
          required: true
          description: Volume ID
          schema:
            type: integer
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Volume details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Volume'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Volumes
      summary: Delete volume
      description: |
        Permanently delete a volume. The volume must be detached from any VM before deletion.

        ## Billing

        For subscription volumes, the remaining prepaid balance is refunded pro-rata (hourly precision) to your account balance.
      operationId: deleteVolume
      parameters:
        - name: id
          in: path
          required: true
          description: Volume ID
          schema:
            type: integer
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Volume deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Volumes
      summary: Resize Volume
      operationId: resizeVolume
      description: |
        Increase the size of a block storage volume.
        Volume size can only be increased, never decreased.

        ## Billing

        For subscription volumes, the storage cost difference is calculated
        pro-rata and deducted from credits, then account balance.
        Returns `402` if insufficient balance.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Volume ID
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResizeVolumeRequest'
      responses:
        '200':
          description: Volume resized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResizeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/volumes/{id}/attach:
    post:
      tags:
        - Volumes
      summary: Attach volume to VM
      description: |
        Attach a volume to a VM. The VM must be in the same region as the volume. A volume can only be attached to one VM at a time — detach it first if it's already attached elsewhere.

        Inside the guest, the volume appears as `/dev/vdb`, `/dev/vdc`, etc. (virtio-blk).
      operationId: attachVolume
      parameters:
        - name: id
          in: path
          required: true
          description: Volume ID
          schema:
            type: integer
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachVolumeRequest'
      responses:
        '200':
          description: Volume attached
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Volume'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/volumes/{id}/detach:
    post:
      tags:
        - Volumes
      summary: Detach volume from VM
      description: |
        Detach a volume from its current VM. Unmount the filesystem inside the guest before calling this endpoint to avoid data corruption.
      operationId: detachVolume
      parameters:
        - name: id
          in: path
          required: true
          description: Volume ID
          schema:
            type: integer
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Volume detached
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Volume'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/snapshots:
    get:
      tags:
        - Snapshots
      summary: List snapshots
      description: |
        List snapshots for the authenticated account. Filter by VM, volume, or type.

        Pass `X-Project-ID` to scope the list to a single project. When omitted, returns snapshots across every project the API key has access to.
      operationId: listSnapshots
      parameters:
        - name: X-Project-ID
          in: header
          required: false
          description: Optional project ID to scope the list. Omit to list across all accessible projects.
          schema:
            type: string
            format: uuid
        - name: vm_id
          in: query
          description: Filter by VM UUID
          schema:
            type: string
            format: uuid
        - name: volume_id
          in: query
          description: Filter by volume ID
          schema:
            type: integer
        - name: type
          in: query
          description: Filter by snapshot type (`vm` or `volume`)
          schema:
            type: string
            enum: [vm, volume]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of snapshots
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Snapshot'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Snapshots
      summary: Create snapshot
      description: |
        Create a snapshot of a VM or a volume.

        - For a **VM snapshot**, set `resource_type` to `vm` and pass the VM UUID as `resource_id`.
        - For a **volume snapshot**, set `resource_type` to `volume` and pass the integer `volume_id`.
      operationId: createSnapshot
      parameters:
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSnapshotRequest'
      responses:
        '201':
          description: Snapshot created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Snapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/BillingValidationFailed'

  /api/v1/snapshots/{id}:
    get:
      tags:
        - Snapshots
      summary: Get snapshot
      description: Get details of a specific snapshot.
      operationId: getSnapshot
      parameters:
        - name: id
          in: path
          required: true
          description: Snapshot ID
          schema:
            type: integer
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Snapshot details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Snapshot'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Snapshots
      summary: Delete snapshot
      description: Permanently delete a snapshot.
      operationId: deleteSnapshot
      parameters:
        - name: id
          in: path
          required: true
          description: Snapshot ID
          schema:
            type: integer
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Snapshot deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/snapshots/{id}/restore:
    post:
      tags:
        - Snapshots
      summary: Restore snapshot
      description: |
        Revert the source VM (or volume) to the state captured in this snapshot.

        For VM snapshots, the VM must be in `passive` state (powered off) before calling this endpoint.

        After a successful restore, this snapshot's `status` flips to `active` and the previously-active snapshot (if any) is cleared. An `active` snapshot cannot be deleted — restore the source to a different snapshot first, or take a fresh one.
      operationId: restoreSnapshot
      parameters:
        - name: id
          in: path
          required: true
          description: Snapshot ID
          schema:
            type: integer
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Snapshot restore initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/snapshots/{id}/rename:
    patch:
      tags:
        - Snapshots
      summary: Rename snapshot
      description: Rename a snapshot. Updates the display name only — does not affect the underlying disk image.
      operationId: renameSnapshot
      parameters:
        - name: id
          in: path
          required: true
          description: Snapshot ID
          schema:
            type: integer
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameSnapshotRequest'
      responses:
        '200':
          description: Snapshot renamed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Snapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/backups:
    get:
      tags:
        - Backups
      summary: List backups
      description: |
        List backups for the authenticated account. Filter by VM.

        Pass `X-Project-ID` to scope the list to a single project. When omitted, returns backups across every project the API key has access to.
      operationId: listBackups
      parameters:
        - name: X-Project-ID
          in: header
          required: false
          description: Optional project ID to scope the list. Omit to list across all accessible projects.
          schema:
            type: string
            format: uuid
        - name: vm_id
          in: query
          description: Filter by VM UUID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of backups
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Backup'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Backups
      summary: Create backup
      description: |
        Create an on-demand backup of a VM. The backup is created asynchronously — the response returns immediately with a `pending` status.

        Use [List Backups](#tag/Backups/operation/listBackups) or [Get Backup](#tag/Backups/operation/getBackup) to track completion.
      operationId: createBackup
      parameters:
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBackupRequest'
      responses:
        '202':
          description: Backup creation accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Backup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/BillingValidationFailed'

  /api/v1/backups/{id}:
    get:
      tags:
        - Backups
      summary: Get backup
      description: Get details of a specific backup.
      operationId: getBackup
      parameters:
        - name: id
          in: path
          required: true
          description: Backup ID (UUID)
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Backup details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Backup'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Backups
      summary: Delete backup
      description: Permanently delete a backup.
      operationId: deleteBackup
      parameters:
        - name: id
          in: path
          required: true
          description: Backup ID (UUID)
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Backup deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/backups/{id}/restore:
    post:
      tags:
        - Backups
      summary: Restore backup
      description: |
        Restore a VM from a backup. The restore runs asynchronously — the response returns immediately with a `pending` status.

        The target VM is overwritten in place. The VM should be powered off before restoring.
      operationId: restoreBackup
      parameters:
        - name: id
          in: path
          required: true
          description: Backup ID (UUID)
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '202':
          description: Backup restore accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Backup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/backups/{id}/chain:
    delete:
      tags:
        - Backups
      summary: Delete backup series
      description: |
        Delete an entire backup series — every restore point that the given backup
        belongs to. The series is identified by passing the UUID of **any** backup
        row in it; all sibling restore points (and the underlying storage) are
        removed in one call.

        Use this when a single restore point can't be removed on its own because
        it has older restore points it depends on. The single-backup
        [Delete backup](/api-reference/virtual-machines/delete-backup) endpoint
        returns a clear error in that case and points here.
      operationId: deleteBackupChain
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of any backup row in the series to remove.
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '200':
          description: Backup series deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/vms/{id}/backups/reset-chain:
    post:
      tags:
        - Backups
      summary: Reset backup series
      description: |
        Start a fresh backup series for the VM. The current series is closed —
        existing restore points remain restorable until you delete them — and
        the next backup creates a new independent baseline.

        Use when a series has grown long and you want a clean baseline for
        future backups without losing the restore points you already have.
      operationId: resetBackupChain
      parameters:
        - name: id
          in: path
          required: true
          description: VM UUID
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/ProjectIDHeader'
      responses:
        '202':
          description: New baseline queued — the next backup will start a fresh series.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/backup-schedules:
    get:
      tags:
        - Backup Schedules
      summary: List backup schedules
      description: |
        List backup schedules for the authenticated account. Filter by VM.

        Pass `X-Project-ID` to scope the list to a single project. When omitted, returns schedules across every project the API key has access to.
      operationId: listBackupSchedules
      parameters:
        - name: X-Project-ID
          in: header
          required: false
          description: Optional project ID to scope the list. Omit to list across all accessible projects.
          schema:
            type: string
            format: uuid
        - name: vm_id
          in: query
          description: Filter by VM UUID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of backup schedules
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BackupSchedule'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Backup Schedules
      summary: Create backup schedule
      description: |
        Create a recurring backup schedule for a VM.

        - **Daily** — set `type` to `daily`. Runs every day at `time`.
        - **Weekly** — set `type` to `weekly` and pass `day_of_week` (Monday–Sunday). Runs on that day at `time`.

        `keep_count` controls retention — older backups beyond this count are pruned automatically.
      operationId: createBackupSchedule
      parameters:
        - $ref: '#/components/parameters/ProjectIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBackupScheduleRequest'
      responses:
        '201':
          description: Backup schedule created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/BackupSchedule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/backup-schedules/{id}:
    get:
      tags:
        - Backup Schedules
      summary: Get backup schedule
      description: Get details of a specific backup schedule.
      operationId: getBackupSchedule
      parameters:
        - name: id
          in: path
          required: true
[...]
